header {
    background-image: url(https://www.amazingperu.com/images/hotel/hoteltumi.jpg);
    background-size: cover;
    text-align: center;
    color: #14121a;
    font-family: Broadway;
    padding: 20px;
}

p {
    color: #092958;
    font-size: 20px;
    font-family: Comic Sans MS;
}

nav li {
    display: inline-block;
}
nav li a {
    text-decoration: none;
    color: #fdfeff;
    font-family: Comic Sans MS;
    font-size: 18px;   
}

.formulario {
    background-color: #90b1e4;
    display: flex;
    width: 800px;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}
.formulario form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto ;   
}

#i1 {
    padding: 8px; 
    text-align: left;
    border-radius: 5px;
}

#i2 {
    padding: 8px; 
    text-align: left;
    border-radius: 5px;
}

#i3 {
    padding: 8px; 
    text-align: left;
    border-radius: 5px;
}
#i4 {
    padding: 8px; 
    text-align: center;
    border-radius: 5px;
    background-color: #425abd;
    margin: 10px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav li {
    list-style: none;
}
 
.m_horizontal {
    display: flex;
}

.m_horizontal > li {
    border-radius: 15px;
    margin: 0 15px;
}

.m_horizontal > li > a {
    display: block;
    padding: 15px;
}

.m_horizontal > li > a:hover {
    background-color: #e26f86;
    color: #f0f8ff;

}

.m_horizontal a {
    color: black;
    text-decoration: none;
}

.m_vertical {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
}
.m_horizontal > li:hover .m_vertical {
    display: block;
}

.m_vertical {
    background-color: #f69281;
    width: 129px;
}

.m_vertical li {
    padding: 10px;
}

.m_vertical li:hover {
    background-color: #e26f86;
}

.m_vertical a {
    color: #f0f8ff;
}

footer{
    background: linear-gradient(to right, #000,#858282);
    color: #fff;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    margin: 15px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

footer a{ 
    color: #fff;
    text-decoration: none;
}

h3{
    color: #ffff00;
}