header {
    background-image: url(https://www.amazingperu.com/images/hotel/hoteltumi.jpg);
    background-size: cover;
    text-align: center;
    color: #14121a;
    font-family: Broadway;
    padding: 20px;
}
p {
    color: #0b62e4;
    font-size: 20px;
    font-family: Comic Sans MS;
}

nav li {
    display: inline-block;
}
nav li a {
    text-decoration: none;
    color: #fdfeff;
    font-family: Comic Sans MS;
    font-size: 18px;   
}

img {
    width: 200px;
    height: 200px;
}

h2 {
    color: rgb(63, 106, 106);
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjetas {
    display: flex;
    justify-content: center;
}

.tarjetas   div {
    width: 280px;
    border-radius: 5px;
    background-color: #9e9c9e;
    margin: 0 15px;
    color: #1d546a;
    text-align: center;
    padding: 15px;
    transition: box-shadow, 0,4s;
}

img {
    width: 250px;
    height: 250px;
    padding: 15px;
}

img div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m_horizontal {
    display: flex;
}

.m_horizontal > li {
    border-radius: 15px;
    margin: 0 15px;
}

.m_horizontal > li > a {
    display: block;
    padding: 15px;
}

.m_horizontal > li > a:hover {
    background-color: #e26f86;
    color: #f0f8ff;

}

.m_horizontal a {
    color: black;
    text-decoration: none;
}

.m_vertical{
    display: none;
    position: absolute;
    background-color: #e28497;
    padding: 0;
    
}
.m_horizontal > li:hover .m_vertical {
    display: block;
}

footer{
    background: linear-gradient(to right, #000,#858282);
    color: #fff;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;

}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

footer a{ 
    color: #fff;
    text-decoration: none;
}

h3{
    color: #ffff00;
}