header {
    background-color: #eb67b6af;  
    display: flex;  
}

nav li {
    list-style: none;
}
 
.m_horizontal {
    display: flex;
}

.m_horizontal > li {
    border-radius: 15px;
    margin: 0 15px;
}

.m_horizontal > li > a {
    display: block;
    padding: 15px;
}

.m_horizontal > li > a:hover {
    background-color: #e26f86;
    color: #f0f8ff;

}

.m_horizontal a {
    color: black;
    text-decoration: none;
}

.m_vertical {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
}
.m_horizontal > li:hover .m_vertical {
    display: block;
}

.m_vertical {
    background-color: #f69281;
    width: 90px;
}

.m_vertical li {
    padding: 10px;
}

.m_vertical li:hover {
    background-color: #e26f86;
}

.m_vertical a {
    color: #f0f8ff;
}