body {
    margin: 0;
    padding: 0;
    background-image: url(https://www.shutterstock.com/image-photo/switzerland-wassen-june-202023y-foot-260nw-2323903421.jpg);
    background-size: cover;
    font-family: Comic Sans MS;
}

header {
    background-image: url(https://img.freepik.com/foto-gratis/arco-iris-al-final-paisaje-carretera_23-2151596720.jpg?semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    height: 40px;
    width: 100%;
    margin: 5px auto;
    text-align: center;
    color: #fa53e6;
}

.b1 {
    background-color: #faf8ef71;
    height: 150px;
    width: 600px;
    margin: 25px auto;
    font-family: 'Comic Sans MS';
    padding: 10px;
}

.b2 {
    background-color: #aebfbe69;
    height: 180px;
    width: 600px;
    margin: 25px auto;
    font-family: 'Comic Sans MS';
    padding: 10px;
}


footer {
    background-color: #000000;
    color: #f0ffff;
    text-align: center;
    font-family: 'Comic Sans MS';
    width: 100%;
    margin: 15px auto;
    padding: 50px 20px;
}

.bf {
    background-color: #50c146;
    margin: 10px;
    height: 30px;
    width: 200px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #f8fafa;
    font-weight: bold;
}
   

